
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-calendar-1:before { content: '\e801'; } /* '' */
.icon-calendar-2:before { content: '\e802'; } /* '' */
.icon-calendar-3:before { content: '\e803'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */